# API Base URL
BASE_URL=https://material.playwrightvn.com/api/user-management/v1

# Admin credentials
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=password

# Regular user credentials
USER_EMAIL=john@example.com
USER_PASSWORD=password

# Environment (development, production)
NODE_ENV=production

